body{
    background-image: url("./images/leaderboardbkgrnd.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}