body{
    background-image: url("./images/leaderboardbkgrnd.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.container-fluid{
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}