body {
    background-image: url("./images/skatebkgrnd.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
.container-fluid{
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}
.ng-scope{
        margin: 0px !important;
}
.skaters {
    margin: 0px;
    padding: 0px;
    background-color: grey;
    opacity: .7;
    height: 47.5vh;
    color: white;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
}

@media screen and (min-width: 550px) and (max-width: 650px) {
    .skaters {
        min-height: 200px;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .skaters {
        min-height: 225px;
    }
}

@media screen and (min-width: 750px) and (max-width: 850px) {
    .skaters {
        min-height: 250px;
    }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
    .skaters {
        min-height: 275px;
    }
}

@media screen and (min-width: 800px){
    .skaters{
        max-width: 50% !important;
    }
}

.turn {
    max-height: 100px;
    max-width: 100px;
}

.flamecontainer {
    display: flex;
    justify-content: center;
}

.trick {
    text-align: center;
    background-color: black !important;
    color: white !important;
    border: none;
    height: 50px;
    width: 375px;
    font-size: 20px;
    opacity: .7;
}

.enterTrick {
    margin-top: 10px;
    color: white;
    background: none;
    border: white 3px solid;
    letter-spacing: 5px;
    font-size: 20px;
    transition: ease-in-out .6s;
}

.trick:hover {
    border: white 1px solid;
    color: black;
}

.trick:focus {
    outline: 0;
    border: white 1px solid;
}
.scorecontainer{
    width: 100%;
    background-color: grey;
    opacity: .7;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    border-bottom: 5px solid black
}
.gameover h1{
    text-align: center;
    font-size: 200px;
    margin-top: 50px;
    color:white;
}
@media screen and (max-width: 480px) {
    .gameover h1{
        font-size: 120px;
    }
}
@media screen and (min-width: 480px) and (max-width: 550px) {
        .gameover h1{
        font-size: 150px;
    }
}
@media screen and (min-width: 550px) and (max-width: 650px) {
        .gameover h1{
        font-size: 185px;
    }
}
@media screen and (min-width: 650px) and (max-width: 750px) {
        .gameover h1{
        font-size: 195px;
    }
}

.winnerWinner {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
}
.winnerWinner img{
    height: 200px;
}